// ---------------------------------------
// globals
// ---------------------------------------
section{
   min-height: 400px;
   width: 100%;
   position: relative;
   background-repeat: no-repeat;
   background-size: cover;
}

.brush-bottom{
   background-position: bottom center;
   background-size: cover;
   background-repeat: no-repeat;
   position: absolute;
   bottom: 0px;
   height: 58px;
   width: 100%;
}

.brush-top{
   background-position: top center;
   background-size: cover;
   background-repeat: no-repeat;
   position: absolute;
   top: 0px;
   height: 58px;
   width: 100%;
}


// ---------------------------------------
// könyv
// ---------------------------------------

section.konyv{
   background-image: url(img/bg-konyv.jpg);
   background-position: bottom center;
   .brush-bottom{
      background-image: url(img/konyv-bottom-brush.png);
   }
   .main-container{
      text-align: center;
      color: white;
      a{
         .logo-cont{
            background-image: url(img/heni-logo.svg);
            background-position: center;
            background-repeat: no-repeat;
            width: 73px;
            height: 73px;
            display: table;
            margin: 63px auto;
         }
      }
      p{
         margin: 20px auto;
         padding: 0 15px;
         max-width: 510px;
         text-align: center;
         font-size: 18px;
         font-family: 'EkMukta-Regular'
      }
      p.margin-bottom{
         margin-bottom: 60px;
      }
      .book-container{
         display: flex;
         flex-direction: row;
         justify-content: center;
         .cell{
            margin: 44px 20px;
            max-width: 100%;
            height: auto;
         }
      }
   }
}

@media (max-width: 650px) {
   section.konyv{
      .main-container{
         .book-container{
            flex-direction: column;
         }
      }
   }
}


// ---------------------------------------
// vasarlas
// ---------------------------------------

section.vasarlas{
   .main-container{
      h2{
         color: $darkblue;
      }
      .vasarlasi-infok{
         text-align: center;
         max-width: 510px;
         margin: auto;
         color: $darkblue;
         h3{
            font-size: 30px;
         }
         a{
            color: $darkblue;
            span{
               font-weight: bold;
            p{
               padding: 0 15px;
            }
            }
         }
         a:hover{
            text-decoration: underline;
         }
         p{
            padding: 0 15px;
         }
      }
   }
}

// ---------------------------------------
// hirek
// ---------------------------------------

section.hirek{
   background-image: url(img/bg-hirek.jpg);
   background-position: center;
   background-repeat: no-repeat;
   .brush-top{
      background-image: url(img/hirek-top-brush.png);
   }
   .brush-bottom{
      background-image: url(img/hirek-bottom-brush.png);
   }
}


// ---------------------------------------
// letoltes
// ---------------------------------------

section.letoltes{

}


// ---------------------------------------
// bio
// ---------------------------------------

section.bio{
   background-image: url(img/bg-bio.jpg);
   background-position: top center;
   background-repeat: no-repeat;
   .brush-top{
      background-image: url(img/bio-top-brush.png);
   }
}
