// ---------------------------------------
// globals
// ---------------------------------------
body{
   background: $darkblue;
   max-width: 1800px;
   margin: 0 auto;
}

#page.site{
   background: $mainbg;
}

.main-container{
   max-width: 960px;
   margin: 0 auto;
   padding-top: 58px;
   padding-bottom: 58px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

// ---------------------------------------
// header
// ---------------------------------------
header#masthead.site-header{
   opacity: 0.7;
   // background: red;
   z-index: 99;
   position: absolute;
   top: 0;
   width: 100%;
   height: 160px;
}
.headertopbar{
   height: 79px;
   width: 100%;
   // background: yellow;
}

@media (max-width:660px){
   header#masthead.site-header{
      height: auto;
   }
   .headertopbar{
      display: none;
   }
}
// ---------------------------------------
// footer - pages-ben
// ---------------------------------------

// ---------------------------------------
// index
// ---------------------------------------

section.blogstyle{
   width: 100%;
   position: relative;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url(img/bg-archive.jpg);
   background-position: bottom center;
   padding-top: 200px;
   }
   .main-container2{
      background: $mainbg;
      max-width: 940px;
      width: 90%;
      padding: 40px 150px;
      position: relative;
      margin: 0  auto;
      .brush-top-small{
         background-image: url(img/hirek-bottom-brush.png);
         position: absolute;
         z-index: 3;
         top: -45px;
         left: 0px;
         width: 100%;
         height: 58px;
         margin: 0 auto;
         display: inline-block;
      }
      .brush-bottom-small{
         background-image: url(img/hirek-top-brush.png);
         position: absolute;
         background-repeat: no-repeat;
         z-index: 3;
         bottom: -45px;
         left: 0px;
         width: 100%;
         height: 58px;
         margin: 0 auto;
         display: inline-block;
   }
}

@media (max-width: 815px) {
   section.blogstyle{
      .main-container2{
         padding: 30px 40px;
      }
   }   
}

header.entry-header{
   h2.entry-title{
      margin: 20px auto;
      a{
         font-family: 'Buenard-Bold';
         font-size: 40px;
         text-align: center;
         color: $darkblue;
      }
   }
   h1.entry-title{
      font-family: 'Buenard-Bold';
      font-size: 40px;
      text-align: center;
      color: $darkblue;
      margin: 20px auto;
   }
}

// ---------------------------------------
// single post
// ---------------------------------------
article{
   margin-bottom: 40px;
}
